.item-area {
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.15);
	margin: 15px auto; /*permite centrar el contenido del div*/
	padding: 4px;
	width: 230px;
	cursor: pointer;
}

.item-bottom {
	border-radius: 3px;
	margin: 4px 0 0 0;
	padding: 4px;
}

.item-image {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 3px;
	height: 220px;
	margin: 0 auto; /*permite centrar el contenido del div*/
	width: 220px;
}

.item-top {
}