.angle-up {
	height: 15px;
	margin: 0px auto;
	margin-top: -8px;
	transition: 0.5s;
	z-index: 0;
}

.card {
	width: 260px;
	margin: 0 auto;
	margin-bottom: 25px;
	transition: 0.2s;
}

.card:hover {
	box-shadow: 0px 0px 8px #888888;
}

.card-expand {
	border-radius: 4px;
	border: 1px solid white;
	cursor: pointer;
	height: 25px;
	position: absolute;
	right: 2px;
	top: 2px;
	transition: 0.2s;
	width: 25px;
}

.card-expand>.fa-sticky-note-o {
	color: 	white;
	margin: .27rem .27rem;
	position: absolute;
}

.card-expand:hover {
	background-color: rgba(175, 175, 175, 0.5);
}

.card-desc-ttl {
	font-size: 1rem;
	bottom: 35px;
	cursor: pointer;
	height: 34px;
	padding: 0px 20px 0px 20px;
	position: absolute;
	transition: 0.3s;
	width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    overflow:hidden;
}

.card:hover>.card-desc-ttl {
	height: 78%;
}

.card-footer {
	padding: 0;
}

.card-footer>.btn-group>.btn {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.btn-success:active {
	border: 0 !important;
}

.card-desc-ttl>h6{
	font-weight: bold;
}